<!DOCTYPE html>
<html>

	<head>
		<link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
	</head>

	<body>
		<div ng-app='TagAlong'>
		<div ng-controller='DataController' ng-cloak>
			<md-content layout-align="center" layout-padding layout-margin layout-fill style="min-height: 224px;" layout='row' layout-wrap>
				<md-card ng-repeat='event in concertData' ng-hide='{{event.ticket_status === "unavailable"}}' flex='30'>
					<md-card-actions>
						<md-button ng-href='{{event.venue.url}}' class='md-primary'>{{event.venue.name | uppercase}}</md-button>
						<div ng-repeat='artist in event.artists'>
							<md-button ng-href='{{artist.url}}'>{{artist.name | uppercase}}</md-button>
						</div>
						<p class='date'>{{event.datetime | date:'MM/dd/yyyy @  h:mma'}}</p>
						<md-button ng-href='{{event.ticket_url}}'>Buy Tickets</md-button>
					</md-card-actions>
				</md-card>	
			</md-content>
		</div>	
		</div>


		<!--Bower dependencies-->
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-aria/angular-aria.js"></script>
		<script src="bower_components/angular-animate/angular-animate.js"></script>
		<script src="bower_components/angular-material/angular-material.js"></script>
		
		<!--App file-->
		<script src="app.js"></script>

		<!--Controller files-->
		<script src="dataController.js"></script>

		<!--Services Files-->
		<script src="concertDataService.js"></script>
	</body>

</html>
